/* header */
.header-wraper{
    width: 100%;
}
.navbar{
    display: flex;
    justify-content: space-between;
    align-items: center;
    background-color:#FFFFFF;
    height: 81px;
    position: fixed;
    top:0;
    left: 0;
    width: 100%;
    z-index: 15;
     }

    
.nav-ul{
   display: flex;
  
}
.nav-li{
    margin: 30px;
    font-size: 16px;
    font-family: 'Vollkorn', serif;
    font-weight:bold;
    }

  .logoimg{
      margin-left: 20px;
      
       }

.nav-a{
    color:#282525;
    text-transform: uppercase;
    font-style:italic;
    
}
.toggle-button{
    position: absolute;
    top: 35px;
    right: 20px;
    font-size: 25px;
    color: black;
    display: none;
}
/* .bannerimage{
    background-image: url(../images/banner.jpg);
    height: 650px;
    width: 100%;
    background-repeat: no-repeat;
    background-repeat: cover;
    background-position: center; */
   
/* } */
/* .text-image{
    position: absolute;
    top:294px;
    left: 415px; */
/* } */
/* .image-wraper{
    position: relative; */
/* }  */
/* .title1{
    font-size: 78px;
}
.title2{
    font-size: 18px; */
/* } */

.slider_item{
    max-width: 100%;
    height: 650px;
    position: relative;
    
}
.slider-multiple-items {
    width: 80%;
    height: 650px;
    }

.title1{
    position: absolute;
    top:294px;
    left:415px;
    font-size: 78px;
    color: #FFFFFF;

}


/* section services */
     
.container{
    max-width: 1180px;
    width: 100%;
    margin:0 auto;
    background-color:#FFFFFF;
    padding-top: 74px;
    display:flex;
    flex-wrap:wrap ;
    
    }


.block{
    width: 240px;
    margin-right: 45px;
    

}
.block1{
    width: 270px;
    margin-right: 32px;
 
    
}
.block2{
    width: 270px;
    margin-right: 32px;
    
    
}
.block3{
    width: 270px;
    
}
.block4{
    width: 270px;
    margin-right: 32px;
    margin-left: 293px;
   
}

.block5{
    width: 270px;
    margin-right: 32px;
   
}
.block6{
    width: 270px;
   
   
}

.imageblock{
    margin-bottom: 21px;
}
 
.container h4{
    margin-bottom: 10px;
    font-size: 18px;
    font-family: 'Vollkorn', serif;
    font-style: italic;
    color:black;
}
.container p{
    width: 267px;
    margin-bottom: 25px;
    font-size: 14px;
    font-family: 'IBM Plex Serif', serif;
    font-style: italic;
    color: #8D8D8D;

}


.headline{
    font-family: 'Vollkorn', serif;
    font-size: 26px;
    font-weight: normal;
    margin-bottom: 40px;
    margin-top: 7px;
    

}
.discover{
    font-size:16px;
    color: #8D8D8D;
    font-weight: bold;

}
/* section-video */
.section-bg{
    background-image: url(../images/beach2.jfif);
    width: 100%;
    background-repeat: no-repeat;
    background-size: cover; 
    opacity: 0.7;
    
    
}
.section-bg:hover{
    opacity: 1.0;
}


.container1{
    max-width: 690;
    width: 100%;
    margin:0 auto;
    margin-top: 50px;
    
}

.videoblock{
    max-width:663px;
    width: 100%;
    height: 314px;
    margin-left: 349px;
    
}
.video-iframe{
    width: 100%;
    height: 100%;
}
.video-title1{
    font-size:16px;
    color: #8D8D8D;
    font-weight: bold;
    padding-top: 66px;
    margin-left: 640px;
    

}
.video-title2{
    font-family: 'Vollkorn', serif;
    font-size: 26px;
    font-weight: normal;
    margin-top: 6px;
    margin-bottom: 52px;
    margin-left: 547px;
    color:cadetblue;
}

.container2{
    margin-top: 107px;
    display: flex;
    justify-content: space-around;
    background-color:#FFFFFF;
    margin-bottom: 66px;
    
    
}

.bg1{
    width: 160px;
    height: 138px;
    background-color: #FFFFFF;
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;
    
    
}
.number{
    font-size: 32px;
    font-family: 'Lato', sans-serif;
    margin-top: 23px;
    margin-bottom: 5px;

}
.bgtext{
    font-size: 16px;
    font-family: 'Raleway', sans-serif;
    
}


/* section3 style*/
.section3{
    background-color:#FFFFFF;
    padding-top: 60px;
    

}
.container3{
    max-width: 863px;
    width: 100%;
    margin: 0 auto;
}
.image-wraper{
    display: flex;
    justify-content: space-between;
    
}
.bg3title1{
    font-size: 16px;
    color: #8D8D8D;
    font-weight: bold;
    margin-left: 390px;
    
}
.bg3title2{
    font-size: 26px;
    font-weight: bold;
    margin-left: 300px;
    margin-bottom:78px;
    margin-top: 6px;
}
.block-image{
    max-width:270 px;
    width: 100%;
    /* height:355 px; */
    background-color: #FFFFFF;
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;
    
}
.titleblue{
    font-size: 18px;
    color: #4B54FA;
    margin-top:13px;
    margin-bottom: 8px;
    font-family: 'Merriweather', serif;
}
.price{
    font-size: 14px;
    font-family: 'Merriweather', serif
}
.img3{
    margin-bottom: 15px;
    position: relative;

}

.moon{
    background-color:#FED701;
    width:98px;
    height:25px;
    position: absolute;
    top:0;
    left: 0;
    margin-top: 8px;
    margin-left: 8px;
    display: flex;
    justify-content: center;
    align-items: center;
    font-size: 14px;
    font-family: 'Raleway', sans-serif;
    
}

/* section map */
.containermap{
    width: 100%;
    margin: 0 auto;
    margin-top: 90px;
}
.map{
    width: 100%;
    height: 435px;
}
/* footer */

footer{
    /* position: fixed; */
    background-color:#141418;
    width: 100%;
    bottom: 0;
    left: 0;
    position: relative;
}
/* footer::before{
    content: '';
    position: absolute;
    left: 0;
    top:100px;
    height: 1px;
    width: 100%;
    background-color:#fff ;
} */


.container4{
    
    max-width: 1250px;
    width: 100%;
    margin: 0 auto;
    padding: 30px 40px 40px 40px;
}
.top{
    display: flex;
    align-items: center;
    justify-content: space-between;
}
.logo-details{
    color: #fff;
    font-size: 30px;
    
}
.media-icons{ 
    display: flex;
}
.media{
    height: 40px;
    width: 40px;
    
    margin:0 8px;
    border-radius: 50%;
    text-align: center;
    line-height: 40px;
    color: #fff;
    font-size: 17px;    
    transform: all 0.4s ease;
}
.media-icons a:nth-child(1){
    background-color:#4267B2;
}

.media-icons a:nth-child(1):hover{
    color:#4267B2;
    background: #fff;

}
.media-icons a:nth-child(2){
    background-color:#1DA1F2;
}

.media-icons a:nth-child(2):hover{
    color:#1DA1F2;
    background: #fff;

}
.media-icons a:nth-child(3){
    background-color:#E1306C;
}

.media-icons a:nth-child(3):hover{
    color:#E1306C;
    background: #fff;

}
.media-icons a:nth-child(4){
    background-color:#0077B5;
}

.media-icons a:nth-child(4):hover{
    color:#0077B5;
    background: #fff;

}
.media-icons a:nth-child(5){
    background-color:#FF0000;
}

.media-icons a:nth-child(5):hover{
    color:#FF0000;
    background: #fff;

}
.link-boxes{
    width: 100%;
    display: flex;
    justify-content: space-between;
  
}
.box{
    padding-top: 50px;
   
}
/* .ftrtite::before{
    content: '';
    position: absolute;
    left: 0;
    bottom: -2px;
    height: 2px;
    width: 35px;
    background-color: #fff ;
} */
.ftrtitle{
    margin-bottom:10px;
    font-size: 20px;
    color: #FFF;
    font-family: 'Merriweather', serif;
}


input{
    border:none;
    outline: none;
    padding: 10px;
    margin: 5px 0;
    background:#F5F5F5
}
.btn1 {
background:blueviolet;
font-family: 'Merriweather', serif;
font-weight: bold;
}
.icon{
    font-size: 16px;
    color: blanchedalmond;
}
.link-boxes a {
    color: #8D8D8D;
    font-size:16px ;
    font-family: 'Merriweather', serif;
    margin-bottom: 5px;
}